.shopcategory-banner{
    display: block;
    width: 100%;
    margin: 30px auto;

}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 45px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    padding: 0px 50px;
}